.idea
*.iml
*.iws
*.ipr
*.swp
.DS_Store
*.bak
temp/
classes/
target/
build/
logs/
activemq-data/
overlays/
*.log
.surefire-*
.pitest/
atlassian-ide-plugin.xml
.pitest-history
.pitest-report
gravatars
.gradletasknamecache
.gradle/
yammer-announcement.vm
work/
*.sublime-project
*.sublime-workspace
/*.watchr
out/
.vagrant/
build-number.txt
last_cleaned
node_modules
